{% extends 'main/main-blank-nav.html' %}
{% load widget_tweaks %}
{% load partials %}

{% partialdef form-control %}
  {% include 'main/partials/form-control.html' %}
{% endpartialdef %}

{% block main %}
  <form action="" method="post" novalidate>{% csrf_token %}

    <div class="form-text text-danger mb-4">
      {% for non_field_error in form.non_field_errors %}
        {{ non_field_error }}
      {% endfor %}
    </div>

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      {% if field.label == 'Captcha' %}
        {{ field }}
      {% else %}

        {% with 'text email password url number tel textarea' as list %}
          {% if field.field.widget.input_type in list.split %}
            {% with label=field.label errors=field.errors for=field.id_for_label help=field.help_text %}
              {% partial form-control %}
            {% endwith %}
          {% endif %}
        {% endwith %}

      {% endif %}
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}"/>
  
    {% block submit %}
      <input class="btn btn-primary btn-block" type="submit" value="{{ title }}">
    {% endblock %}

  </form>


{% endblock %}