{% extends 'main/form.html' %}

{% block main %}
  {% if validlink %}
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="card col-3">
          <div class="card-header">
            <h3 class="card-title fw-light">{{ title }}</h3>
          </div>
          <div class="card-body">
            {{ block.super }}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container-fluid">
      <p>The password reset link was invalid</p>
      <p>Please <a href="{% url 'accounts:reset_password' %}">request</a> a new password.</p>
    </div>
  {% endif %}
{% endblock %}